* {
    margin: 0;
    padding: 0;
}

:root {
    --boardWidth: 400px;
    --boxShadow: 0px 5px 5px rgb(128, 126, 126);
    --buttonWidth: 100px;
    --buttonHeight: 50px;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(219, 219, 219);
}

.header, .footer {
    text-align: center;
    background-color: white;
}

.header {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--boxShadow);
}

.footer {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main2 {
    padding-top: 40px;
    height: 600px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: white;
    box-shadow: var(--boxShadow);
    gap: 30px;
}

.selection {
    display: grid;
    width: var(--boardWidth);
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 10px;
    position: relative
}


.selection h3 {
    grid-column: 1 / 3;
}

.board {
    width: var(--boardWidth);
    height: var(--boardWidth);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-image: url(images/tic-tac-toe.jpeg);
    background-size: cover;
}

.board div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 30px;
}

.board div img {
    height: 50px;
    width: 50px;
}

.o-icon, .x-icon {
    transform: scale(0);
    position: absolute;
}

#inserted {
  transform: scale(1); 
}

#hide {
    position: absolute;
    transform: scale(0);
}

.turns {
    font-weight: bold;
    font-size: 40px;
    grid-column: 1 / 3;
}

.names {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    grid-column: 1/3;
}

.replay-newgame {
    width: var(--boardWidth);
    display: flex;
    justify-content: space-around;
}

.p-v-p, .p-v-ai, .new-game, .replay, .next, .choice-o, .choice-x {
    width: var(--buttonWidth);
    height: var(--buttonHeight);
}

.choice-o, .choice-x {
    font-size: large;
    font-weight: bold;
}

input {
    height: 20px;
    width: 200px;
    padding: 20px;
    font-size: large;
}

h3 {
    font-size: larger;
}